.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.authCard {
  &__container {
    padding: 20px 100px;
  }

  &__title {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
}
