.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timerCard {
  width: 30% !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(3px) !important;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
