# Environment variables
.env
.env.prod
.env.staging
.env.production

# Backend
venv
__pycache__
backend/config/logs/*

# Frontend dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/*.tsbuildinfo
frontend/next-env.d.ts
