# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.development.local
.env.production.local

# Backend
venv
__pycache__

# Frontend dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/*.tsbuildinfo
frontend/next-env.d.ts
