{% extends "email/base.html" %} {% block title %}パスワードリセット{% endblock
%} {% block page_title %}パスワードリセットのご案内{% endblock %} {% block
logo_color %}blue{% endblock %} {% block content %}
<div class="content">
  <div class="greeting">{{ username }} 様</div>

  <div class="description">
    以下のボタンをクリックして、パスワードを再設定してください。
    リンクは{{expiration_minutes }}分後に期限切れとなります。
  </div>

  <div class="text-center">
    <a href="{{ reset_url }}" class="button blue"> パスワードを再設定する </a>
  </div>

  <div class="description">
    ボタンがクリックできない場合は、以下のURLをコピーしてブラウザに貼り付けてください。
  </div>

  <div class="description">
    <a href="{{ reset_url }}" class="word-break link-blue"> {{ reset_url }} </a>
  </div>
</div>
{% endblock %}
