.content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  padding: 0.5rem 2rem;
  align-items: center;
  opacity: 0;

  &[data-index="0"] {
    @include animate(slideInBottom, 1s, cubic-bezier(0.4, 0, 0.2, 1), 0s);
  }
  &[data-index="1"] {
    @include animate(slideInBottom, 1s, cubic-bezier(0.4, 0, 0.2, 1), 0.2s);
  }
  &[data-index="2"] {
    @include animate(slideInBottom, 1s, cubic-bezier(0.4, 0, 0.2, 1), 0.4s);
  }
  &[data-index="3"] {
    @include animate(slideInBottom, 1s, cubic-bezier(0.4, 0, 0.2, 1), 0.6s);
  }

  &__label {
    text-align: right;
  }

  &__value {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &_number {
      text-align: right;
      min-width: 2em;
    }

    &_unit {
      width: 2em;
    }
  }

  &__change {
    text-align: left;

    &_minus {
      color: $result-red;
    }

    &_plus {
      color: $result-green;
    }
  }

  p {
    font-weight: 600;
  }
}
